span{ 
 		margin-right: 10px;
 	} 
#navtag{
	margin-bottom: 0px;
}
#atag{
	padding: 0;
}
#atag img {
	width:120px;
	height:50px;
}

.danhsach {
    float: left;
    width: 45%;
    background-color: rgba(219, 219, 232, 0.59);
    padding: 1%;
    height: 520px;
    overflow: auto;
}
.tuychon {
    float: left;
    margin-left: 1%;
    width: 54%;
}
#anh {
    height: 200px;
    margin-bottom: 3px;
}