h3 {
	text-align: center;
}
#ribbon{
	overflow: hide;
}
.ribbon2 {
	font: bold 16px Cambria, Georgia, Times, Serif;
	color: #fff;
	background: #01943C;
	position: relative;
	line-height: 48px;
	box-shadow: 10px 10px 50px green;
	margin-right: 10px;
	margin-top: 80px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #01943C;
}

.ribbon2:before {
	content: "";
	position: absolute;
	top: 0px;
	right: 100%;
	width: 0px;
	height: 0px;
	border: 24px solid #01943C;
	border-left-color: transparent;
	box-shadow: 10px 10px 50px green;
}

.ribbon2:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 100%;
	width: 0px;
	height: 0px;
	border: 24px solid transparent;
	border-left-color: #01943C;
}

input {
	margin-bottom: 50px;
}

.ribbon5 {
	font: bold 16px Cambria, Georgia, Times, Serif;
	color: #fff;
	width: 70%;
	text-align: center;
	padding: 0px 30px;
	background: #AF3605;
	position: relative;
	line-height: 48px;
	margin: 20px auto;
}

.ribbon5:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0px;
	width: 0px;
	height: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: #76290A #76290A transparent transparent;
}

.ribbon5:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 0px;
	width: 0px;
	height: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: #76290A transparent transparent #76290A;
}

.ribbon5 div {
	width: 100%;
}

.ribbon5 div:before, .ribbon5 div:after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border: 24px solid #983912;
	top: 10px;
	z-index: -1;
}

.ribbon5 div:before {
	border-left-color: transparent;
	right: 100%;
	margin-right: -10px;
}

.ribbon5 div:after {
	border-right-color: transparent;
	left: 100%;
	margin-left: -10px;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
}

/* Pseudo elements for icons */
.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after,
	.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
	border: 3px solid green;
	color: green;
}

.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
}

.btn-1c:hover, .btn-1c:active {
	color: white;
}

.btn-1c:hover:after, .btn-1c:active:after {
	background: green;
	width: 100%;
}
#content{
	margin-top: 10px;
}
#ribbon3{
	position: fixed; 
	width: 180px;
}
#contentVi{
	border: 1px solid green; 
	border-radius: 20px;
}
#headerVi{
	position: relative;
	 z-index: 1;
}
#namePostVi{
	margin-top: 10px;
}
#contentJa{
	border: 1px solid green;
	border-radius: 20px;
}
#headerJa{
	position: relative;
	z-index: 1;
}
#namePostJa{
	margin-top: 10px;
}