@CHARSET "UTF-8";
@media screen and (min-width: 1025px) {
    .khung {
        background-color: red;
    }
    .tb1 {
	    display: none;
	}
}
@media screen and (max-width: 1024px) and (min-width: 600px){
    .khung {
        background-color: blue;
    }
    .tb6 {
    	display: none;
    }
}
@media screen and (max-width: 599px) and (min-width: 480px){
    .khung {
        background-color: black;
        color: white;
    }
}
@media screen and (max-width: 479px){
    .khung {
        background-color: yealow;
    }
    .thongtinthem {
    width: 100% !important;
}
.thongtinthem embed {
    width: 20% !important;
    float: left;
}
.motabai {
    width: 100% !important;
}
}
@media screen and (max-width: 479px){
    .ancainay {
    	display: none;
    }
}